<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>New Purcahse</title>
</head>
<body>
<div align="center">
    <h1>Purchase Product</h1>
    <h2>Review the purchase details, and fill the units that you want to buy and the Delivery option that you prefer.</h2>
    <table border="0" cellpadding="10" align="center">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>


        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${product.name}">Name</td>
            <td th:text="${product.price}">Price</td>
        </tr>
        </tbody>

    </table>
    <h2>This a the available delivery options that u have registered.</h2>
    <br/>
    <table border="0" cellpadding="10">
        <thead>
        <tr>
            <th>Delivery option ID</th>
            <th>Address</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="box : ${boxList}">
            <td th:text="${box.id_user}">Delivery option ID</td>
            <td th:text="${box.address}">Address</td>
        </tr>
        </tbody>
    </table>
    <h1> </h1>

    <form action="#" th:action="@{/savePurchase}" th:object="${purchase}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Purchase ID:</td>
                <td><input type="text" th:field="*{idpurchase}" readonly="readonly" /></td>
            </tr>
            <tr>
                <td>Buyer ID:</td>
                <td><input type="text" th:field="*{product_id}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Units:</td>
                <td><input type="text" th:field="*{units}"  /></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="text" th:field="*{purchase_price}" readonly="readonly" /></td>
            </tr>
            <tr>
                <td>Delivery option ID:</td>
                <td><input type="text" th:field="*{box_id}" /></td>
            </tr>



            <tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>